<div class="well">
<%
for (let i in steps) {
  var stepName = steps[i].name
  var stepText = steps[i].title;
  if (stepName === step) {
%>
<a href="#" class="btn btn-default disabled" role="button" ahlink="edit" ahaction="<%= stepName %>"><%= stepText %></a> >
<%
  } else {
%>
<a href="#" class="btn btn-default active" role="button" ahlink="edit" ahaction="<%= stepName %>"><%= stepText %></a> >
<%
  }
}
%>
</div>
