<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><% if (customTitle) { %><%= customTitle %><% } else { %>AlgorithmHub<% }%></title>

<link rel="stylesheet" href="<%= site.csspool %>/<%= pageName %>.css" />
<script src="<%= site.jspool %>/ahbase.js"></script>
